<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span>
                        <img alt="image" class="img-circle" width="80px"
                             src="./assets/img/avatar/{{loginInfo.avatar}}" />
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                      <span class="clear">
                          <span class="block m-t-xs">
                          <strong class="font-bold">Simulación Gestión de Viajes </strong>
                      </span>
                          <span class="text-muted text-xs block">{{loginInfo.title}}</span>
                      </span>
                    </a>
                </div>
                <div class="logo-element">
                    UDO
                </div>
            </li>
            <li [ngClass]="{active: activeRoute('home')}">
                <a [routerLink]="['./home']"><i class="fa fa-dashboard"></i> <span class="nav-label">Carga de Datos</span></a>
            </li>
            <li [ngClass]="{active: activeRoute('others')}">
                <a [routerLink]="['./others']"><i class="fa fa-desktop"></i> <span class="nav-label">Asignación de Salidas</span></a>
            </li>
        </ul>

    </div>
</nav>
